.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.test_col {
    width: 500px;
}
.test_col_left {
    float: left;
}
.test_col_right {
    float: right;
}
.test_col_cont {
    height: 420px;
}
.top_menu {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.margin_menu_right {
    margin-left: 800px;
}
.avatar {
    height: 220px;
    width: 180px;
}