<!DOCTYPE html>

<html>
<head>
    <title>Base page</title>
    {% load static from staticfiles %}

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/load_requests.js' %}"></script>

    {% block for_css %}
    {% endblock for_css %}

</head>
<body>
<div class="top_menu">
    <div class="margin_menu_right">
        {% include 'menu.html' %}
    </div>
</div>

{% block content %}
{% endblock content %}


{% block for_js %}
{% endblock for_js %}

</body>
</html>